# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual environments
.env
.venv/
venv/
ENV/
env.bak/
*.sqlite3

# Devcontainers
.devcontainer/**/.env
.devcontainer/**/.venv
.devcontainer/**/Dockerfile
.devcontainer/**/docker-compose.yml

# VS Code
.vscode/
*.code-workspace

# Azurite
azurite_workspace/
*.azurite

# PostgreSQL
*.pgsql
*.db
*.sql
pgdata/
postgres-data/

# Alembic
migrations/
versions/

# OS-specific
.DS_Store
Thumbs.db

# Test artifacts
htmlcov/
.coverage
.tox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.pyc

# Logs and temp
*.log
*.tmp
*.bak
